@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tabler-icons';
  font-display: swap;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #c7d2fe;
  color: #312e81;
}
